/* GLOBAL RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background:#ffffff;
    color:#111;
    transition:0.3s;
}

/* HEADER */
header {
    width:100%;
    padding:12px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    position:sticky;
    top:0;
    background:white;
    z-index:99;
}

.logo {
    font-size:22px;
    font-weight:700;
}

nav a {
    margin:0 10px;
    text-decoration:none;
    color:#111;
    font-weight:500;
}

#themeToggle {
    border:1px solid #ccc;
    background:white;
    padding:5px 14px;
    border-radius:5px;
    cursor:pointer;
}

/* HERO */
.hero {
    text-align:center;
    padding:50px 20px;
}

.hero h1{
    font-size:28px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
}

.btn-primary {
    background:#000;
    color:white;
    padding:10px 22px;
    border-radius:6px;
    margin-right:10px;
}

.btn-secondary {
    border:1px solid #000;
    padding:10px 22px;
    border-radius:6px;
    color:#000;
}

/* SECTIONS */
section {
    padding:30px 20px;
}

section h2{
    margin-bottom:20px;
    font-size:22px;
}

/* GRID LAYOUT */
.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    gap:15px;
}

.card {
    padding:15px;
    border:1px solid #eee;
    border-radius:10px;
    background:#fafafa;
    text-align:center;
}

.card img {
    width:100%;
    height:110px;
    object-fit:cover;
    border-radius:8px;
    background:#ddd;
}

.preview {
    margin-top:10px;
    padding:6px 16px;
    background:#000;
    color:white;
    border:none;
    border-radius:5px;
}

/* BLOGS */
.blog-box{
    margin-bottom:15px;
}

/* FOOTER */
footer {
    text-align:center;
    padding:20px;
    margin-top:20px;
    border-top:1px solid #eee;
}


/* DARK MODE */
.dark {
    background:#111;
    color:white;
}

.dark header {
    background:#111;
    border-color:#333;
}

.dark nav a {
    color:white;
}

.dark .btn-secondary {
    color:white;
    border-color:white;
}

.dark .card {
    background:#1c1c1c;
    border-color:#333;
}

.dark footer{
    border-color:#333;
}