body{
  margin:0;
  font-family:Arial;
  background:#050612;
  color:white;
}

.navbar{
  padding:20px;
  color:#1a5bff;
  font-size:24px;
  font-weight:bold;
}

.hero{
  padding:50px 20px;
  text-align:center;
}
.btn{
  background:#1a5bff;
  border:none;
  padding:12px 20px;
  color:white;
  border-radius:10px;
  margin-top:20px;
}
.category{
  display:flex;
  justify-content:space-around;
  padding:20px;
}
.cat-box{
  background:#0a0f20;
  padding:20px;
  border-radius:14px;
  text-align:center;
  width:30%;
}
.cat-box img{
  width:60px;
}
#galleryGrid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  padding:20px;
  gap:20px;
}

